/* General rules */

body {
  overflow-x: hidden;
  background-color: #f1faee;
}

/* Navigation */
.navbar {
  background-color: #1d3557;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.navbar-brand > img {
  height: 1.8rem;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0.6rem;
}

.navbar .navbar-nav .nav-link {
  color: white;
  padding-top: 0.6rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: red;
}

/* Landing */
.home-inner {
  background-image: url(img/main-pic.jpg);
  background-size: contain;
}

.caption h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
}

.caption h3 {
  padding-bottom: 1rem;
}

.caption {
  width: 100%;
  position: absolute;
  top: 30%;
  color: white;
  text-transform: uppercase;
  z-index: 1;
}
/* Course */
#course {
  background-color: #f1faee;
}

/* Features */
.jumbotron {
  background-color: #f1faee;
  color: black;
  padding-bottom: 0;
  margin-bottom: 0;
}

.features-list {
  list-style: none;
  padding-left: 0;
}

.line {
  margin-bottom: 0;
}

/* Clients */
.client {
  border-radius: 10%;
  width: 90%;
  min-width: 15vw;
}

.blockquote,
.jumbo-line {
  width: 70%;
  margin: 0 auto;
}

/* Contact */
footer,
footer a {
  color: black;
}

footer a:hover, footer p, footer h3 {
  color: red;
}

footer img {
  height: 3rem;
  margin: 1rem 0;
}

/*register form*/
.form_register{
  max-width: 70%;
  margin: 0 auto;
}

.form_head{
  text-align: center;
  padding-bottom: 20px;
}

/* COVID-INFO */
.covid-info {
  margin-bottom: 20px;
  padding: 20px;
  color: red;
  background-color: #eee;
}

/* @media queries own rules */
@media all and (max-width: 767px) {
  .client {
    width: 50%;
    max-width: 40vw;
  }

.form_register{
  max-width: 90%;
  margin: 0 auto;
}
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .client {
    width: 70%;
  }
}